[submodule "dotfiles/.zprezto"]
	path = dotfiles/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "dotfiles/.vim/bundle/bufexplorer"]
	path = dotfiles/.vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "dotfiles/.vim/bundle/ctrlp.vim"]
	path = dotfiles/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/nerdtree-git-plugin"]
	path = dotfiles/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "dotfiles/.vim/bundle/tagbar"]
	path = dotfiles/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotfiles/.vim/bundle/vim-airline-themes"]
	path = dotfiles/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dotfiles/.vim/bundle/vim-better-whitespace"]
	path = dotfiles/.vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "dotfiles/.vim/bundle/vim-sensible"]
	path = dotfiles/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "dotfiles/.vim/bundle/vim-devicons"]
	path = dotfiles/.vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "dotfiles/.vim/bundle/salt-vim"]
	path = dotfiles/.vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
